@charset "utf-8";

/*header, banner "Jua"폰트*/
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');


/*영문 폰트*/
@font-face {
  font-family: 'LOTTERIACHAB';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*한글 폰트*/
@font-face {
  font-family: "NPSfont";
  src: url(../font/NPSfont_regular.woff) format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "NPSfont";
  src: url(../font/NPSfont_bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NPSfont";
  src: url(../font/NPSfont_extrabold.woff) format('woff');
  font-weight: 800;
  font-style: normal;
}